@model IEnumerable<Seminarski.Models.Seminar>
@{
    ViewBag.Title = "Seminari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Popis Seminara</h4>
@if (!Model.Any())
{
    <p>Trenutno nemamo seminara u ponudi.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Seminar</th>
                <th>Opis Seminara</th>
                <th>Datum Početka</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.Naziv, "Details", "Movies", new { id = item.SeminarID }, null)
                </td>
                <td>
                    @item.Opis
                </td>
                <td>
                    @Html.DisplayFor(x => item.Datum)
                </td>
            </tr>
            }
        </tbody>
    </table>
}
